*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #333;
}


.homePage{
  width: 500px;
  background-color: #eda7a7;
  border-radius: 12px;
  margin: 80px auto;
  padding: 30px 40px;
}

.homePage h1{
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}


form{
  width: 100%;
}

label{
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
  margin-top: 15px;
}


input{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 16px;
}

input:focus{
  outline: none;
  box-shadow: 0 0 5px #555;
}


.activeLevel{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 16px;
}

.activeLevel:focus{
  outline: none;
  box-shadow: 0 0 5px #555;
}


.genderGroup{
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.radioClass{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.CalculateBMR{
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
  background-color: #333;
  color: white;
  transition: 0.3s;
}

.CalculateBMR:hover{
  background-color: black;
}

.resultPage{
  width: 450px;
  background-color: #eda7a7;
  margin: 100px auto;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
}

.resultPage h1{
  margin-bottom: 20px;
}

.resultPage h2{
  margin: 10px 0;
}

.resultPage h3{
  margin: 10px 0;
}

a{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  color: darkblue;
}